.season-activities{
}
.season-activities__title{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
}
.season-activities__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-up__image-winter{
    max-width: 272px;
    min-height: 181px;
    border-radius: 10px;
    margin-top: 45px;
    margin-bottom: 54px;
}
.cards-low__image-summer{
    max-width: 272px;
    min-height: 244px;
    border-radius: 10px; 
}
.cards-up__winter-vacation{
    /* display: flex;
    flex-direction: column; 
    align-items: center;  */
}
.cards-up__winter-vacation-title, .cards-low__summer-vacation-title{
    font-size: 22px;
    font-weight: 500;
    max-width: 272px;
    margin-bottom: 13px;
}
.cards-up__winter-vacation-subtitle{
    font-weight: 400;
    margin-bottom: 23px;
}
.cards-up__winter-vacation-list{
    list-style-type: none;
}
.list__item{
    display: flex;
    gap: 20px;
.list__item-icon{
    width: 20px;
    height: 20px;
}
.list__item-point{
    /* margin-top: 23px; */
}
.list__item-icon{
    color: rgb(249, 130, 80);
}
