.variety-of-cabins__inner {
    background-image: url(../img/background-variety-of-cabins.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px 32px;
    width: 100%;
}

.variety-of-cabins__subtitle-container {
    display: flex;
    padding: 40px 15px 10px 15px;
}

.variety-of-cabins__subtitle {
    color: var(--description-alternative-color);
    font-family: var(--description-font-family);
    font-size: 16px;
    line-height: 25.6px;
    max-width: none;
    text-align: center;
}

.cabins__item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    max-width: 100%;
    min-width: 272px;
    min-height: 400px;
    padding: 0 10px;
}

@media (min-width: 768px) {
    .variety-of-cabins__cabins {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .variety-of-cabins__cabins {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cabins__title-container {
    margin-top: 20px;
}

.cabins__title {
    color: var(--description-alternative-color);
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

.cabins__description-container {
    margin-top: 5px;
}

.cabins__description {
    color: var(--description-alternative-color);
    font-family: var(--description-font-family);
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    line-height: 25.6px;
    text-align: center;
    position: relative;
    word-wrap: break-word;
}

.cabins__image-container {
    border-radius: 10px;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}

.cabins__image {
    align-items: center;
    border-radius: 10px;
    border-color: var(--fields-border-color);
    display: flex;
    justify-content: center;
    min-height: 153.812px;
    min-width: 232px;
}