.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    min-height: 466px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}
.reservation-container{
    background-image: url(../img/form-bg.jpeg);
    background-repeat: no-repeat;
    min-height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation-form{
    display: flex;
    flex-direction: column;
}
.reservation-input{
    min-width: 350px;
    height: 20px;
    border-radius: 40px;
    min-height: 48px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 16px 24px;
    background-color: var(--fields-border-color);
    border: 0px;
}
.reservation-submit{
    background-color: var(--title-color);
    margin-top: 50px;
    min-height: 50px;
    border-radius: 40px;
    color: var(--background-color);
    font-weight: bolder;
}
.reservation-submit:hover{
    background-color: var(--icons-color);
}
.reservation-select{
    min-width: 350px;
    height: 20px;
    border-radius: 40px;
    min-height: 48px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 16px 24px;
    background-color: var(--fields-border-color);
    border: 0px;
}
.reservation-title{
    font-weight: bolder;
    font-family: var(--title-font-family);
    font-size:xx-large;
}
.reservation-description{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--description-font-family);
}
@media (max-width:412px) {
    .reservation-input, .reservation-select, .reservation-submit{
        min-width: 270px;
    }
}