.gallery-picture_of_places_in_different_seasons {
  background-image: url("../img/gallery_seasons_background.jpg");
}
.gallery-picture_title { 
  text-align: center;
  padding: 40px;
  font-size: 44px;
  color: var(--text-color);
  font-family: var(--title-font-family);
}
.list-seasons-name{
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  font-size: 1.2rem;
  align-items: center;
}
.list-seasons-name .list_item{
  color:var(--description-color);
  text-decoration: none;
}
.list-seasons-name .list_item:hover{
  color: var(--text-color);
  text-decoration: underline;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
li {
  margin: 0 10px;
}

@media (min-width:500px) {
  .list-seasons-name{
    flex: 0;
    flex-direction: row;
    align-items: center;
    
  }
  *,
  *::after,
  *::before {
    margin: 8px;
    padding: 0;
    box-sizing:  border-box;
  }
  .gallery-picture_seasons {
    width: 60%;
    margin: 2rem auto; 
  }
  
  .block_summer,
  .block_winter {
    display: grid;
    grid-template-columns: repeat(12, 1fr) auto auto;
    grid-template-rows:  repeat(12, 5vw) auto auto;
    margin: 2rem auto; 
    grid-gap: 1.5rem;
    
  }
  .block_spring,
  .block_autumn,
  .block_fishing,
  .block_spa {
    display: grid;
    grid-template-columns: repeat(12, 1fr) auto auto;
    grid-template-rows:  repeat(6, 5vw) auto auto;
    margin: 2rem auto; 
    grid-gap: 1.5rem;
  }
.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  border-radius: 10px;
}
.picture-summer_house-on-the-mountain,
.winter-mountains {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
}
.picture-summer_horse,
.picture-winter_skier {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
}
.picture-summer_lake,
.picture-winter_girl-with-coffee {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 7;
}
.picture-summer_house-interior,
.picture-winter_house-by-the-lake {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 10;
}
.picture-summer_house-in-the-forest,
.picture-winter_horse {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 13;
}
.picture-summer_house-with-flowers,
.picture-winter_houses-in-the-mountains {
  grid-column-start: 5;
  grid-column-end: 13;
  grid-row-start: 7;
  grid-row-end: 13;
}
.picture-spring_house-on-the-mountain,
.picture-autumn_gray-house,
.picture-fishing_fisherman,
.picture-spa_window {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 7;
}
.picture-spring_house-near-the-lake,
.picture-autumn_house-in-the-forest,
.picture-fishing_wooden-boat,
.picture-spa_bath {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;
}
.picture-spring_hous-in-the-forest,
.picture-autumn_girl-near-the-house,
.picture-fishing_red-boat,
.picture-spa_terrace {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 7;
}
}

