.season-gallery__title { 
    text-align: center;
    padding-top: 83px;
    font-size: 34px;
    font-weight: 500;
  } 
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  li {
    margin: 0 10px;
  }
  .img-line,
  .picture-summer_house-on-the-mountain,
  .picture-summer_horse,
  .picture-summer_lake,
  .picture-summer_house-interior,
  .picture-summer_house-in-the-forest,
  .picture-summer_house-with-flowers,
  .picture-winter_mountains,
  .picture-winter_skier,
  .picture-winter_girl-with-coffee,
  .picture-winter_house-by-the-lake,
  .picture-winter_horse,
  .picture-winter_houses-in-the-mountains,
  .gallery-picture__spa { 
    display: block;
    margin: 0 auto;
    max-width: 500px;
    min-height: 250px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .img{

    background-image: url(//res2.weblium.site/res/5ce40621b84b1a002410eb9e/5d01152af7f5810024cd30c3_optimized_1920?nowebp&quot);

    background-size: no-repeat;

    background-position: center;

    background-size: contain;

    height: 400px;

    width: 400px;

}