 /* global*/ 
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

 @font-face {
    font-family: 'Circular Std', serif;
    src: url('fonts/CircularStd-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 :root {
     --text-color: #333333;
     --icons-color: #599673;
     --title-color: #f98250;
     --background-color: #ffffff;
     --fields-border-color: #d0d0d0;
     --description-color: #848484;
     --fields-background-color: #f5f5f5;

     --title-font-family: 'Circular Std', serif;
     --description-font-family: 'Roboto', sans-serif;
     font-family: 'Open Sans', serif;
     scroll-behavior: smooth;
     
 }

 img {
     display: block;
     width: 100%;
 }

 a {
     text-decoration: none;
 }

 h1 {
     font-family: var(--title-font-family);
     font-weight: normal;
 }

 h2 {
     font-family: var(--title-font-family);
     font-weight: normal;
 }

 p {
     max-width: 644px;
 }