@import url(global.css);

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 24px;
}

.header__logo img {
    width: 180px;
    height: auto;
}

.header__burger {
    display: block;
}

.burger__line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

.header__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__menu {
    list-style: none;
    margin: -10px -5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__menu-item {
    margin: 10px 5px;
}

.header__menu-link {
    font-family: var(--description-font-family);
    font-weight: 700;
    color: var(--text-color);
}

.header__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}

.header__location {
    font-family: var(--description-font-family);
    line-height: 25.6px;
}

.header__contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.header__contact-link {
    font-family: var(--description-font-family);
    color: var(--title-color);
    line-height: 25.6px;
}

@media (min-width: 990px) {
    header {
        padding: 30px 40px;
    }
    .header__burger {
        display: none;
    }
    .header__logo {
        display: block;
        margin: 0 auto;
    }
    .header__menu {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
    .header__menu-link:hover {
        color: var(--title-color);

    }
    .header__info {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .header__location {
       margin-top: -300px;
       
    }
    .header__contact {
        margin-top: -300px;
    }
}
