.things-to-do__inner {
    background-image: url(../img/background-things-to-do.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 32px;
}

.things-to-do__title {
    color: var(--text-color);    
    font-size: 39px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

.cards__item {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: var(--background-color);
    border-color: var(--fields-border-color);
    min-width: 272px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .things-to-do__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;       
    }
}

@media (min-width: 992px) {
    .things-to-do__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cards__heading {
    color: var(--text-color);    
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.cards__subheading {
    color: var(--title-color);    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.cards__description {
    color: var(--description-color);
    font-family: var(--description-font-family);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}

.cards__image {
    border-radius: 10px;
    border-color: var(--fields-border-color);
    min-width: 232px;
    min-height: 153.812px;
    display: flex;
    align-items: center;
    justify-content: center;
}