.things-to-do__title {
    color: var(--text-color, #333333);
    font-family: var(--title-font-family);
    font-size: 39px;
    font-weight: 500;
    text-align: center;
}

.cards__heading {
    color: var(--text-color, #333333);
    font-family: 'Circular Std', serif;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

.cards__subheading {
    box-sizing: border-box;
    color: var(--title-color, #f98250);
    font-family: 'Circular Std', serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.cards__description {
    color: var(--description-color, #848484);
    font-family: var(--description-font-family);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.cards__item {
    background-color: var(--background-color, #ffffff);
    border-color: rgb(40, 37, 32);
    display: block;
}

.cards__image {
    border-radius: 10px;
    border-color: rgb(40, 37, 32);
    margin: 20px;
    width: 313px;
}