.adventure {
    padding: 80px 24px;
    background-image: url(../img/background-img-adventure.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    
}

.adventure__title-and-subtitle {
    display: grid;
    gap: 24px;
}

.adventure__title {
    font-family: var(--title-font-family);
    font-size: 2.4rem;
    font-weight: bold;
    color: #282520;
    text-align: center;

}

.adventure__subtitle {
    font-family: var(--description-font-family);
    font-size: 1.19rem;
    text-align: center;
    color: var(--description-color);
    line-height: 30px;
    max-width: none;
}

@media (min-width: 768px) {
    .adventure__cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 992px) {
    .adventure__cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }

}

.adventure__cards-container{
    margin-top: 50px;
}

.adventure__cards-container img {
    border-radius: 5%;
    width: 100%;
    height: auto;
}

.adventure__cards-container>div {
    display: grid;
    gap: 20px;
    padding: 20px;
    vertical-align: baseline;
}

.adventure__cards-container h3 {
    text-align: center;
    font-family: (var--title-font-family);
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
}