.our-facilities__title {
    font-family: var(--title-font-family);
    font-size: 2.4rem;
    color: #282520;
    text-align: center;
}

.our-facilities {
    padding: 80px 24px;
    background-image: url(../img/background-img-facilities.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-facilities__image {
    border-radius: 10px;
    max-height: 350px;
}

@media (min-width: 1588px) {
    .our-facilities__image {
        border-radius: 10px;
        max-width: 458px;
    }
}
