.our-facilities__title {
    color: var(--text-color);    
    font-size: 39px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

.our-facilities {
    background-image: cover;
    align-items: center;
    justify-content: center;
}
