<section class="variety-of-cabins">
    <div class="variety-of-cabins__inner">
        <div class="container">
            <div class="variety-of-cabins__subtitle-container">
                <p class="variety-of-cabins__subtitle">We have a children's playground with a number of swings and
                    slides.
                    Our spacious terrain is for you to relax
                    in the outdoors. You don't need to take food with you, as we offer a shop with the freshest local
                    produce
                    including bakery and butchery. Our cafe is open 7 days a week from 9:30 for our famous free
                    breakfasts, and
                    a diverse menu of lunches. Additionally, we offer a variety of cabins for you to choose from. Here
                    are some
                    of them:</p>
            </div>
            <div class="variety-of-cabins__cabins">
                
            </div>
        </div>
    </div>
</section>