<section class="season-activities container">
        <h2 class="season-activities__title">Season Activities</h2>
        <div class="season-activities__cards cards-up">
            <img class="cards-up__image-winter" src="img/nature-winter.jpg" alt="there is a nature in winter">
            <div class="cards-up__winter-vacation">
                <h3 class="cards-up__winter-vacation-title">Winter Vacation in Yosemite National Park</h3>
                <p class="cards-up__winter-vacation-subtitle">Visit our park in winter and celebrate Christmas and New
                    Year holidays with us. You and all your family members will be impressed with a variety of
                    breathtaking
                    adventures and winter activities we have to offer.</p>
                <ul class="cards-up__winter-vacation-list list">
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Snowmobile riding</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Snowboarding</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Snow-shoeing</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Skating</p>
                    </li>
                    <li class="list__item list__item-last">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Skiing</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="season-activities__cards cards-low">
            <div class="cards-low__summer-vacation">
                <h3 class="cards-low__summer-vacation-title">Summer Vacation in Yosemite National Park</h3>
                <p class="cards-low__summer-vacation-subtitle">Whatever the season, Yosemite National Park has a wide
                    range
                    of activities for you to choose from. Visit us in summer and enjoy your vacation!</p>
                <ul class="cards-low__summer-vacation-list list">
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Horseback riding</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Rock climbing</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Biking</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Cycling</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Fishing</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Hiking</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Rafting</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Golf</p>
                    </li>
                    <li class="list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Camping</p>
                    </li>
                    <li class="list__item list__item">
                        <svg class="list__item-icon" viewBox="0 0 510 510">
                            <path
                                d="M255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm-51 382.5L76.5 255l35.7-35.7 91.8 91.8 193.8-193.8 35.7 35.7L204 382.5z"
                                style fill="currentColor"></path>
                        </svg>
                        <p class="list__item-point">Guided tours</p>
                    </li>
                </ul>
            </div>
            <img class="cards-low__image-summer" src="img/nature-summer.jpg" alt="there is a nature in summerg">
        </div>
</section>