<section class="season-activities">
    <h2 class="season-activities__title">Season Activities</h2>
    <div class="season-activities__cards cards-up">
        <img class="cards-up__image-winter" src="../img/nature-winter.jpg" alt="there is a nature in winter">
        <div class="cards-up__description-right">
            <h3></h3>
        </div>
    </div>
    <div class="season-activities__cards cards-low">
        <div class="cards-low__description-left"></div>
        <img class="cards-low__image-spring" src="../img/nature-spring.jpg" alt="there is a nature in spring">
    </div>
</section>
