<section class="spa-vacations">
        <div class="spa-vacations__inner">
                <div class="container">
                        <h3 class="spa-vacations__title">SPA Vacations</h3>
                        <p class="spa-vacations__description">Our bespoke spa vacations offer something unique for
                                everyone in
                                our spa center. Improve your well-being by paying special attention to our specialized
                                spa
                                procedures, yoga
                                classes, Ayurveda, weight loss program, and fitness classes. Supplement your daily
                                wellness with
                                healthy
                                cuisine for optimal health and wellness.</p>
                        <div class="spa-vacations__image-container">
                                <img class="spa-vacations__image" src="img/spa.jpeg" alt="Spa">
                        </div>
                </div>
        </div>
</section>