<section class="cabin-rentals">
    <div class="cabin-rentals__container container">
        <h2 class="cabin-rentals__title">Cabin Rentals</h2>
        <div class="cabin-rentals__list">
            <div class="cabin-rentals__list-left">
                <div class="cabin-rentals__item-river-chalet">
                    <p class="cabin-rentals__item-price">$65/night</p>
                    <h3 class="cabin-rentals__item-name">River Chalet</h3>
                    <p class="cabin-rentals__item-details">1 Bedroom, 1 Bathroom, Sleeps 2</p>
                    <a class="cabin-rentals__item-link" href="offer.html">LEARN MORE</a>
                </div>
                <div class="cabin-rentals__item-lookout-lodge">
                    <p class="cabin-rentals__item-price">$75/night</p>
                    <h3 class="cabin-rentals__item-name">Lookout Lodge</h3>
                    <p class="cabin-rentals__item-details">2 Bedroom, 1 Bathroom, Sleeps 4</p>
                    <a class="cabin-rentals__item-link" href="offer.html">LEARN MORE</a>
                </div>
            </div>
            <div class="cabin-rentals__list-right">
                <div class="cabin-rentals__item-smoky-view-chalet">
                    <p class="cabin-rentals__item-price">$85/night</p>
                    <h3 class="cabin-rentals__item-name">Smoky View Chalet</h3>
                    <p class="cabin-rentals__item-details">2 Bedroom, 2 Bathroom, Sleeps 6</p>
                    <a class="cabin-rentals__item-link" href="offer.html">LEARN MORE</a>
                </div>
                <div class="cabin-rentals__item-mountain-haven">
                    <p class="cabin-rentals__item-price">$95/night</p>
                    <h3 class="cabin-rentals__item-name">Mountain Haven</h3>
                    <p class="cabin-rentals__item-details">3 Bedroom, 2 Bathroom, Sleeps 8</p>
                    <a class="cabin-rentals__item-link" href="offer.html">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="cabin-rentals__all-button">
            <a class="cabin-rentals__all-link-button" href="offer.html">SEE ALL CABINS</a>
        </div>
    </div>

</section>