<section class="gallery-picture_of_places_in_different_seasons">
    <div id="gallery-header" class="gallery-picture_header">
        <h1 class="gallery-picture_title">Gallery</h1>
            <ul class="list-seasons-name">
                <li><a class="list_item" href="#gallery-picture__summer" onclick="toggleBlock('summer')">Summer</a></li>
                <li><a class="list_item" href="#gallery-picture__winter" onclick="toggleBlock('winter')">Winter</a></li>
                <li><a class="list_item" href="#gallery-picture__spring" onclick="toggleBlock('spring')">Spring</a></li>
                <li><a class="list_item" href="#gallery-picture__autumn" onclick="toggleBlock('autumn')">Autumn</a></li>
                <li><a class="list_item" href="#gallery-picture__fishing" onclick="toggleBlock('fishing')">Fishing</a></li>
                <li><a class="list_item" href="#gallery-picture__spa" onclick="toggleBlock('spa')">SPA</a></li>
            </ul>
     </div>
        <div class="gallery-picture_seasons">
            <div id="summer" class="bloc_summer">
                <div id="gallery-picture__summer" class="gallery-picture__summer">
                    <img class="picture-summer_house-on-the-mountain" src="img/summer-house-on-the-mountain.jpg" alt="house on the mountain">
                    <img class="picture-summer_horse" src="img/summer-horse.jpg" alt="horse in summer">
                    <img class="picture-summer_lake" src="img/summer-lake.jpg" alt="lake in summer">
                    <img class="picture-summer_house-interior" src="img/summer-house-interior.jpg" alt="house interior">
                    <img class="picture-summer_house-in-the-forest" src="img/summer-house-in-the-forest.jpg" alt="house in the forest">
                    <img class="picture-summer_house-with-flowers" src="img/summer-house-with-flowers.jpg" alt="house with flowers">
                </div>
            </div>
            <div id="winter" class="block_winter">
                <div id="gallery-picture__winter" class="gallery-picture__winter">
                    <img class="picture-winter_mountains" src="img/winter-mountains.jpg" alt="mountains in winter">
                    <img class="picture-winter_skier" src="img/winter-skier.jpg" alt="skier on the mount">
                    <img class="picture-winter_girl-with-coffee"" src="img/winter-girl-with-coffee.jpg" alt="girl with coffee">
                    <img class="picture-winter_house-by-the-lake" src="img/winter-house-by-the-lake.jpg" alt="house by the lake in winter">
                    <img class="picture-winter_horse" src="img/winter-horse.jpg" alt="horse in winter">
                    <img class="picture-winter_houses-in-the-mountains" src="img/winter-houses-in-the-mountains.jpg" alt="houses in the mountin in winter">
                </div>    
            </div>
            <div id="spring" class="block_spring">
                <div id="gallery-picture__spring" class="gallery-picture__spring">
                    <img class="picture-spring_house-on-the-mountain" src="img/spring-house-on-the-mountain.jpg" alt="house on the mountain in spring">
                    <img class="picture-spring_house-near-the-lake" src="img/spring-house-near-the-lake.jpg" alt="house near the lake in spring">
                    <img class="picture-spring_hous-in-the-forest" src="img/spring-hous-in-the-forest.jpg" alt="house in the forest in spring">
                </div>
            </div>
            <div id="autumn" class="block_autumn">
                <div id="gallery-picture__autumn" class="gallery-picture__autumn">
                    <img class="picture-autumn_gray-house" src="img/autumn-gray-house.jpg" alt="gray house">
                    <img class="picture-autumn_house-in-the-forest" src="img/autumn-house-in-the-forest.jpg" alt="house in the forest in autumn">
                    <img class="picture-autumn_girl-near-the-house" src="img/autumn-girl-near-the-house.jpg" alt="girl near the house">
                </div>
            </div>
            <div id="fishing" class="block_fishing">
                <div id="gallery-picture__fishing" class="gallery-picture__fishing">
                    <img class="picture-fishing_fisherman" src="img/fishing-fisherman.jpg" alt="fisherman">
                    <img class="picture-fishing_wooden-boat" src="img/fishing-wooden-boat.jpg" alt="wooden boat">
                    <img class="picture-fishing_red-boat" src="img/fishing-red-boat.jpg" alt="red boat">
                </div>
            </div>
            <div id="spa" class="block_spa">
                <div id="gallery-picture__spa" class="gallery-picture__spa">
                    <img class="picture-spa_window" src="img/spa-window.jpg" alt="window in the spa room">
                    <img class="picture-spa_bath" src="img/spa-bath.jpg" alt="bath for spa">
                    <img class="picture-spa_terrace" src="img/spa-terrace.jpg" alt="terrace near the spa">
                </div>
            </div>
        </div>
    </section>
















