<section class="things-to-do">
    <div class="things-to-do__inner">
        <h2 class="things-to-do__title">Things to Do</h2>
        <div class="things-to-do__cards cards container">
            <article class="cards__item">
                <div class="cards__item-image-container">
                    <img class="cards__image" src="img/girl-on-horse.jpg" alt="Girl on horse">
                </div>
                <h3 class="cards__heading">Horse Riding</h3>
                <h4 class="cards__subheading">$4/hour</h4>
                <p class="cards__description">Take a measured romantic horseback riding tour and enjoy our unforgettable
                    picturesque surroundings.</p>
            </article>
            <article class="cards__item">
                <div class="cards__item-image-container">
                    <img class="cards__image" src="img/rock-climbing.jpg" alt="Rock climbing">
                </div>
                <h3 class="cards__heading">Rock Climbing</h3>
                <h4 class="cards__subheading">$2/hour</h4>
                <p class="cards__description">Whether you are a professional mountaineer or it’s your first time,
                    Yosemite one of the best places for this kind of sport.</p>
            </article>
            <article class="cards__item">
                <div class="cards__item-image-container">
                    <img class="cards__image" src="img/biking.jpg" alt="Biking">
                </div>
                <h3 class="cards__heading">Biking</h3>
                <h4 class="cards__subheading">$1/hour</h4>
                <p class="cards__description">Rent a bike and take a fun and easy two-wheel tour over Yosemite Valley.
                    It usually takes 2 hours.</p>
            </article>
            <article class="cards__item">
                <div class="cards__item-image-container">
                    <img class="cards__image" src="img/rafting.jpg" alt="Rafting">
                </div>
                <h3 class="cards__heading">Rafting</h3>
                <h4 class="cards__subheading">$3/hour</h4>
                <p class="cards__description">You have a perfect choice to combine your river rafting adventure with a
                    visit to the park. Test our waters.</p>
            </article>
            <article class="cards__item">
                <div class="cards__item-image-container">
                    <img class="cards__image" src="img/fishing.jpg" alt="Fishing">
                </div>
                <h3 class="cards__heading">Fishing</h3>
                <h4 class="cards__subheading">$2/hour</h4>
                <p class="cards__description">With a number of permanent streams and mountain lakes, we offer anglers of
                    all levels a diverse variety of opportunities for fishing.</p>
            </article>
            <article class="cards__item">
                <div class="cards__item-image-container">
                    <img class="cards__image" src="img/wellness.jpg" alt="Spas and Wellness">
                </div>
                <h3 class="cards__heading">Spas and Wellness</h3>
                <h4 class="cards__subheading">$2/hour</h4>
                <p class="cards__description">After a long exhausting day, you can relax and pamper yourself in our
                    unique spa and wellness center.</p>
            </article>
        </div>
    </div>
</section>