<section class="answer-for-question">
    <div class="answer-for-question__title-and-buttons">
        <h2 class="answer-for-question__title">Get full answer for your question</h2>
        <div class="answer-for-question__buttons">
            <div class="answer-for-question-call-us">
                <a href="tel:+123456789">CALL US</a>
            </div>
            <div class="nswer-for-question-reservation">
                <a href="#reservation-container">RESERVATION</a>
            </div>
        </div>
    </div>
</section>