<section class="adventure">
    <div class="adventure__title-and-subtitle container">
        <h2 class="adventure__title">Your Adventure Starts Here</h2>
        <p class="adventure__subtitle">Welcome to a perfect escape in Yosemite Mariposa County, California! Yosemite
            National Park is known for its giant sequoias and the observation deck of the Portal View, which overlooks
            the Briddlevale Falls, the El Capitan granite rocks and the Half House. The Yosemite village proudly offers
            a lot of shops, restaurants, hotels, and a museum, along with the Ansel Adams Gallery. Plan your adventure and
            find your place in Yosemite!
        </p>
    </div>
    <div class="adventure__cards-container container">
        <div class="adventure__horse-ranch">
            <img src="img/horse-ranch-cottage.jpeg" alt="Horse ranch cottage" data-large="img/horse-ranch-cottage-large.jpeg">
            <h3>Yosemite Gateway Horse Ranch "Getaway" Cottage</h3>
        </div>
        <div class="adventure__tuolumne-meadows-lodge">
            <img src="img/tuolumne-meadows-lodge.jpeg" alt="Tuolumne meadows lodge" data-large="img/tuolumne-meadows-lodge.jpeg">
            <h3>Tuolumne Meadows Lodge</h3>
        </div>
        <div class="adventure__sierra-sunrise">
            <img src="img/sierra-sunrise.jpeg" alt="Sierra sunrise" data-large="img/sierra-sunrise.jpeg">
            <h3>Sierra Sunrise Vacation Rental</h3>
        </div>
        <div class="adventure__donya-maries-cottage">
            <img src="img/donya-maries-cottage.jpeg" alt="Donya maries cottage" data-large="img/donya-maries-cottage.jpeg">
            <h3>Donya Marie's Cottage on Evergreen</h3>
        </div>
        <div class="adventure__sierra-meadow">
            <img src="img/sierra-meadow-cottage.jpeg" alt="Sierra meadow cottage" data-large="img/sierra-meadow-cottage.jpeg">
            <h3>Sierra Meadow Cottage</h3>
        </div>
        <div class="adventure__yosemites-river-house">
            <img src="img/yosemites-river-house.jpeg" alt="Yosemite's river house" data-large="img/yosemites-river-house.jpeg">
            <h3>Yosemite’s River House</h3>
        </div>
    </div>
</section>