<main>
    <h2>Cabin Rentals</h2>
    <section class="Cabin-ofers">
        <div class="river-chalet-ofer">
            <img src="img/river-chalet-ofer.jpg" alt="river chalet photo">
            <article class="river-chalet-ofer-content">
                <h3><span class="house-ofer-price">$65</span> /a night</h3>
                <p>River Chalet</p>
                <ul class="house-ofer-rooms">
                    <li>1 Bedroom</li>
                    <li>1 Bathroom</li>
                    <li>2 Sleeps</li>
                </ul>
                <div class="house-ofer-comfort">
                    <p>Jetted Tub</p>
                    <p>Flat Panel TV</p>
                    <p>Fireplace</p>
                    <p>Wi-Fi</p>
                </div>
                <a href="#reservation-form">
                    RESERVE CABIN
                </a>
            </article>
        </div>
        <div class="lookout-lodge-ofer">
            <img src="img/lookout-lodge-ofer.jpg" alt="Lookout Lodge photo">
            <article class="lookout-lodge-ofer-content">
                <h3><span class="house-ofer-price">$75</span> /a night</h3>
                <p>Lookout Lodge</p>
                <ul class="house-ofer-rooms">
                    <li>2 Bedrooms</li>
                    <li>1 Bathroom</li>
                    <li>4 Sleeps</li>
                </ul>
                <div class="house-ofer-comfort">
                    <p>Hot Tub</p>
                    <p>Pool Table</p>
                    <p>Jacuzzi Tub</p>
                    <p>Wi-Fi</p>
                </div>
                <a href="#reservation-form">
                    RESERVE CABIN
                </a>
            </article>
        </div>
        <div class="smoky-view-chalet-ofer">
            <img src="img/smoky-view-chalet-ofer.jpg" alt="Smoky View Chalet photo">
            <article class="smoky-view-chalet-ofer-content">
                <h3><span class="house-ofer-price">$75</span> /a night</h3>
                <p>Lookout Lodge</p>
                <ul class="house-ofer-rooms">
                    <li>2 Bedrooms</li>
                    <li>2 Bathroom</li>
                    <li>6 Sleeps</li>
                </ul>
                <div class="house-ofer-comfort">
                    <p>Whirlpool Tub</p>
                    <p>Air Hockey</p>
                    <p>Fireplace</p>
                    <p>Wi-Fi</p>
                </div>
                <a href="#reservation-form">
                    RESERVE CABIN
                </a>
            </article>
        </div>
        <div class="mountain-haven-ofer">
            <img src="img/mountain-haven-ofer.jpg" alt="Mountain Haven photo">
            <article class="mountain-haven-ofer-content">
                <h3><span class="house-ofer-price">$100</span> /a night</h3>
                <p>Lookout Lodge</p>
                <ul class="house-ofer-rooms">
                    <li>3 Bedrooms</li>
                    <li>2 Bathroom</li>
                    <li>8 Sleeps</li>
                </ul>
                <div class="house-ofer-comfort">
                    <p>Whirlpool Tub</p>
                    <p>Fireplace</p>
                    <p>Grill</p>
                    <p>Wi-Fi</p>
                </div>
                <a href="#reservation-form">
                    RESERVE CABIN
                </a>
            </article>
        </div>
        <div class="mountain-splash-ofer">
            <img src="img/mountain-splash-ofer.jpg" alt="Mountain Splash photo">
            <article class="mountain-splash-ofer-content">
                <h3><span class="house-ofer-price">$100</span> /a night</h3>
                <p>Lookout Lodge</p>
                <ul class="house-ofer-rooms">
                    <li>3 Bedrooms</li>
                    <li>3 Bathroom</li>
                    <li>10 Sleeps</li>
                </ul>
                <div class="house-ofer-comfort">
                    <p>Private Indoor Pool</p>
                    <p>Pool Table</p>
                    <p>Hot Tub</p>
                    <p>Air Hockey</p>
                </div>
                <a href="#reservation-form">
                    RESERVE CABIN
                </a>
            </article>
        </div>
    </section>
    <div class="reservation-container">
        <section class="reservation">
            <h2 class="reservation-title">Make a reservation</h2>
            <p class="reservation-description">Please complete the form below</p>
            <form action="" method="" class="reservation-form" id="reservation-form">
                <input type="text" placeholder="Name" class="reservation-input">
                <input type="text" placeholder="Phone number" class="reservation-input">
                <input type="text" placeholder="Check in date" class="reservation-input">
                <input type="text" placeholder="Check out date" class="reservation-input">
                <select name="Number-of-guests" aria-placeholder="Number of guests" class="reservation-select">
                    <option>Cabin clasic</option>
                    <option>Cabin superior</option>
                    <option>Cabin superior+</option>
                    <option>American Eagle</option>
                    <option>The firehouse</option>
                </select>
                <input type="submit" placeholder="Make a reservation" class="reservation-submit">
            </form>
        </section>
    </div>
</main>