<section class="testimonials">
    <div class="container">
        <h2 class="testimonials__title">Testimonials</h2>
        <div class="testimonials__images">
            <div class="testimonials__image-container">
                <img class="testimonials__image" src="img/little-girl-kissing-horse.jpg"
                    alt="Little girl kissing horse">
            </div>
            <div class="testimonials__image-container">
                <img class="testimonials__image testimonials__image-small" src="img/kayaking.jpg" alt="Kayaking">
                <img class="testimonials__image testimonials__image-big" src="img/scenery.jpg" alt="Scenery">
            </div>
            <div class="testimonials__image-container">
                <img class="testimonials__image testimonials__image-big" src="img/big-lake.jpg" alt="Big lake">
                <img class="testimonials__image testimonials__image-small" src="img/skiing.jpg" alt="Skiing">
            </div>
        </div>
        <div class="testimonials__button">
            <a class="testimonials__button-link" href="#">ALL TESTIMONIALS</a>
        </div>
    </div>
</section>